.text-center {
  text-align: center;
}

.mx-auto {
  margin: auto;
}

.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.row {
  margin: 8px;
}

.row-input {
  margin: 0;
  padding: 10px 38px;
  border: 2px solid aquamarine;
}
